<div class="container">
<h1>Stupid Coaching</h1>

<div class="mb-3">
<label for="Ask your coach anything:" class="form-label">Ask your coach anything:</label>
<form action="/answer" data-turbo="false" id="exampleFormControlInput1" class="input-group">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>

</div>
